@charset "UTF-8";
html {
    position: relative;
    min-height: 100%;
    margin: 0;
}
body {
    min-height: 100%;
}
.header{
	background: #212529;
	margin-bottom: 50px;
}
.navbar{
	width:1280px;
	margin:0 auto;
}
.footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    padding: 15px 0;
    text-align: center;
}
.content{
	width:1280px;
	margin:0 auto;
}
.color-white .nav-item a{
	color: white !important;
}
.form-group{
	margin-bottom: 20px;
}

.fieldError{
    color:#bd2130;
}
 .error{
     color:#bd2130;
 }